.welcome-element{
    text-align: center;
}

.field-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

.info-section{
    padding-top: 50px;
    color: teal;
    text-align: center;
}

.info-item {
    padding-bottom: 10px;
}

.actions-section{
    display: flex;
    justify-content: center;

}
.action-button{
    background: #7777ff;
    padding: 25px;
    color: white;
    box-shadow: 0px 1px 2px black;
    cursor: pointer;
}

.error-message{
    color: red;
    text-align: center;
}
